:root {
  --main-color: #1c1c1c;
  --second-color: #373a3e;
  --third-color: #fff;
  --acept: #4caf50;
  --acept-hover: #3e8e41;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 800px;
  border-radius: 2%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.btn-admm {
  background-color: var(--acept);
  color: var(--third-color);
  padding: 8px;
  width: 8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-admm:hover {
  background-color: var(--acept-hover);
}

.removedois {
  display: inline-block;
  padding: 8px;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.removedois:hover {
  background-color: #ff000032;
}

.editum {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.editum:hover {
  background-color: #3d5a70;
}

.inputdois {
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
  background: var(--third-color);
  transition: all 0.3s ease 0s;
}

.inputdois:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px var(--second-color);
}

.modalEdit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentEdit {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 800px;
  border-radius: 2%;
}

.closeEdit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeEdit:hover,
.closeEdit:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: var(--third-color);
  border-color: var(--main-color);
}

.section {
  flex: 1;
}

/* Media query para dispositivos com largura igual ou menor que 600px */
@media (max-width: 600px) {
  .modal-content,
  .modal-contentEdit {
    width: 90%;
    height: auto;
    margin: 10% auto;
  }
}

/* Media query para dispositivos com largura igual ou menor que 400px */
@media (max-width: 400px) {
  .modal-content,
  .modal-contentEdit {
    width: 95%;
  }
}
