/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

/* Definindo estilos para toda página web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Defindo variáveis de cores */
:root {
  --main-color: #1c1c1c;
  --second-color: #373a3e;
  --third-color: #fff;
  --acept: #4caf50;
  --acept-hover: #3e8e41;
}

/* Estilo da Header/Menu */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--third-color);
  background-color: var(--main-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40%;
  box-shadow: 0 4px 41px rgb(14 55 54/14%);
  padding: 1rem;
  transition: 0.2s;
}

.logo-dois {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo-dois img {
  width: 140px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2rem;
  vertical-align: middle;
}

.btn-menu img {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 3rem;
  z-index: 999;
  vertical-align: middle;
}

.logo h1 {
  color: var(--third-color);
  font-weight: 400;
  font-size: 2rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.container .btn-menu,
.logo {
  line-height: 100px;
}

.container .btn-menu label {
  color: var(--third-color);
  font-size: 30px;
  cursor: pointer;
  margin-top: -0.9rem;
}

.container a {
  display: block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container a:hover {
  border-bottom: 2px solid var(--third-color);
  padding-bottom: 5px;
}

#btn-menu {
  cursor: pointer;
  display: none;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

/* Estilos gerais */

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 45px;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: var(--main-color);
  height: 100vh;
  position: fixed;
  transition: all 0.5s ease;
  transform: translateX(100%);
  right: 0;
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 2rem;
  color: var(--third-color);
  border-left: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

.cont-menu nav a:hover {
  border-left: 5px solid var(--third-color);
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: var(--second-color);
  cursor: pointer;
  font-size: 18px;
}

/* Estilo da Home Page */

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
  background: url(https://images.unsplash.com/photo-1543674892-7d64d45df18b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=730&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.inicio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.inicio-text {
  flex: 1 1 17rem;
  backdrop-filter: blur(3px);
}

.inicio-text span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--third-color);
}

.inicio-text h1 {
  font-size: 4.2rem;
  color: var(--third-color);
  font-weight: bolder;
}

.inicio-text h2 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--third-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}

.btn,
.add {
  padding: 7px 16px;
  border: 2px solid var(--third-color);
  border-radius: 40px;
  color: var(--main-color);
  font-weight: 500;
  background: var(--third-color);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  color: var(--third-color);
  background: var(--main-color);
}

.add:hover {
  color: var(--third-color);
  background-color: var(--main-color);
}

.btn:active {
  transform: translate(10px, 10px);
  box-shadow: 0px 15px 20px #ffff;
  transition: all 0.3s ease 0s;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
  text-align: center;
}

.link {
  margin: 1rem 0 1rem;
}

.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--third-color);
  padding: 1rem;
  margin-right: 1rem;
}

.link a:hover {
  color: var(--third-color);
}

.footer p {
  text-align: center;
}

.copy {
  color: var(--third-color);
  margin-top: 1rem;
}

/* Estilo da área MECD - Main */

.iniciomain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: var(--second-color);
}

.PDFs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  margin: 2rem 4rem;
  margin-top: 15vh;
  background-color: var(--second-color);
  padding: 1rem;
}

.pdf-count {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 30%;
  margin-left: 40%;
  border: 2px solid #000000;
}

.PDFs,
.PDFsdois label {
  font-weight: bold;
  color: var(--third-color);
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.PDFs select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1.8rem;
  margin-right: 20rem;
  margin-top: 0.8rem;
  border: 1px solid var(--main-color);
  border-radius: 0.35rem;
  outline: none;
  background-color: var(--third-color);
}

.sectionMain {
  justify-content: space-between;
  gap: 4rem;
  display: flex;
}

.left-side {
  flex: 1;
  padding: 20px;
}

.right-side {
  flex: 1;
  right: 0;
  padding: 20px;
  align-items: center;
}
.col1,
.col2 {
  flex-basis: 100%;
}

.resetbtn {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
.resetbtn:hover {
  background-color: #3d5a70;
}

#lista-pdfs {
  background-color: var(--second-color);
}

#lista {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  background-color: var(--second-color);
  color: var(--third-color);
}

#alterar-pdf {
  width: 100%;
  height: 1000px;
  background-color: var(--second-color);
}

#num-pdf {
  font-size: 2rem;
}

#iten {
  color: var(--third-color);
}

/* Estilo da área de ADM */

.envio {
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 10px;
}

.contentadm {
  padding-top: 60px;
}

.btn-adm {
  background-color: var(--acept);
  color: var(--third-color);
  padding: 0.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-adm:hover {
  background-color: var(--acept-hover);
}

.edit {
  display: inline-block;
  padding: 10px;
  height: 2.5rem;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.edit:hover {
  background-color: #3d5a70;
}

.inputdois {
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
  background: var(--third-color);
  transition: all 0.3s ease 0s;
}

.inputdois:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px var(--second-color);
}

.btn-adm-envio {
  background-color: var(--main-color);
  color: var(--third-color);
  padding: 0.5rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--main-color);
}
.btn-adm-envio:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}

.removedois {
  display: inline-block;
  padding: 0.5rem;
  height: 3rem;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.removedois:hover {
  background-color: #ff000032;
}

.deletebutton,
.remove {
  display: inline-block;
  padding: 0.5rem;
  height: 2.5rem;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.deletebutton{
  margin-left: 5px;
}

.deletebutton:hover,
.remove:hover {
  background-color: #ff000032;
}

.close:hover {
  color: #ff000032;
}

/* Modais??? */

.modal,
.modalMecanismo,
.modalFluxograma {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.modal-contentEdit,
.modal-contentMecanismo,
.modal-contentFluxograma {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 2%;
  width: 300px;
  height: 100px;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo de elementos */

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  color: white;
  border-color: var(--main-color);
  font-size: 1.4rem;
}

section {
  width: 100%;
  padding: 50px 5%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="file"] {
  border: none;
}

table {
  border-collapse: collapse;
  background-color: var(--third-color);
  width: 100%;
  margin-top: 4rem;
  border-radius: 1rem;
}

th,
td {
  text-align: left;
  padding: 1.5rem;
  border: 1px solid var(--main-color);
}

select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: var(--third-color);
  color: var(--main-color);
}

select option {
  background-color: var(--third-color);
  color: var(--main-color);
}

.btn,
.add,
.btn-adm,
.btn-adm-envio,
.removedois,
.deletebutton,
.remove,
.edit,
.close,
input[type="submit"] {

}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

::placeholder {
  color: var(--main-color);
  text-align: center;
}

/* Estilo dos Fluxogramas */

.PDFsdois select {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 0.35rem;
  outline: none;
  background-color: var(--third-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.gallery-item {
  margin: 10px;
}

.gallery-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.fluxogramassec {
  background-color: var(--second-color);
}

.btn-fluxo {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 4rem;
  margin-left: 19rem;
}

.btn-fluxo:hover {
  background-color: #3d5a70;
}

.fluxotitle {
  color: var(--third-color);
}

/* Media Querys */

@media screen and (max-width: 600px) {
  .inicio-text h1 {
    font-size: 2.5rem;
  }
  .inicio-text h2 {
    font-size: 1.5rem;
  }
  .container .btn-menu,
  .logo {
    display: block;
  }
  .iniciomain {
    display: flex;
    flex-direction: column;
  }
  .section {
    margin-bottom: 20px;
  }
  .section:first-child {
    order: 2;
  }
  .section:last-child {
    order: 1;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
  .container .btn-menu,
  .logo {
    display: block;
    line-height: normal;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .logo-dois {
    display: none;
  }
  .btn-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  .pdf-count{
    display: block;
  }
  .container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  .container-menu.active {
    opacity: 1;
    visibility: visible;
  }
  .cont-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .cont-menu nav {
    margin-top: 2rem;
  }

  .cont-menu nav a {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .cont-menu nav a:hover {
    color: #ccc;
  }
  .container .menu {
    position: relative;
    top: 100px;
    right: -100%;
    width: 100%;
    display: block;
    background-color: var(--main-color);
    transition: 0.2s;
    padding: 1rem;
  }
  .cont-menu label {
    display: block;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
  }
  .container .menu a {
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-right: 0;
    text-align: center;
    border-bottom: none;
    color: var(--third-color);
  }
  .container .menu a:hover {
    background-color: var(--second-color);
  }
  .container .menu.active {
    right: 0;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .inicio-text h1 {
    font-size: 3rem;
  }
  .inicio-text h2 {
    font-size: 1.6rem;
  }
  .container .menu a {
    font-size: 1.4rem;
  }
  .logo-dois {
    display: block;
  }

  .container {
    position: static;
  }

  .header {
    gap: 20rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 768px) {
  .PDFs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .col1 {
    flex: 0 0 40%;
    margin-right: 1rem;
  }

  .col2 {
    flex: 0 0 60%;
  }
}

@media screen and (max-width: 767px) {
  .PDFs {
    flex-direction: column;
  }

  .col1,
  .col2 {
    flex-basis: 100%;
  }
  .logo-dois {
    display: block;
  }
}

@media (max-width: 767px) {
  .btn-adm,
  .btn-menu,
  .btn-adm-envio,
  .btn-admm,
  .remove,
  .removedois,
  .edit {
    font-size: 0.8em;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .btn-menu,
  .btn-adm,
  .btn-adm-envio,
  .btn-admm,
  .remove,
  .removedois,
  .edit {
    font-size: 0.6em;
    width: 100%;
  }
  .logo-dois{
    display: none;
  }
  .inicio-text h1 {
    font-size: 0.9rem;
  }
  .inicio-text h2 {
    font-size: 1rem;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 2rem;
    vertical-align: middle;
  }
  .btn-menu img{
    width: 2rem;
  }
  .iniciomain {
    display: flex;
    flex-direction: column;
  }
  .PDFs {
    flex-direction: column;
  }
  .imagem {
    width: 100%;
    height: auto;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
  .col1,
  .col2 {
    margin-right: 0;
  }
  .sectionMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-side {
    order: 1;
  }

  .right-side {
    order: 2;
  }
  .PDFs select {
    font-size: 1rem;
    margin-right: 14rem;
    margin-left: -4rem;
  }
  .PDFs label {
    font-size: 1rem;
    margin-left: -4rem;
    
  }
  .resetbtn {
    margin-left: -4rem;
  }
  .pdf-count {
    margin-left: 2.5rem;
  }
}
