/* Importação de fontes */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

/* Definindo estilos para toda página web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Defindo variáveis de cores */
:root {
  --main-color: #1c1c1c;
  --second-color: #373a3e;
  --third-color: #fff;
  --acept: #4caf50;
  --acept-hover: #3e8e41;
}

/* Estilo da Header/Menu */
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--third-color);
  background-color: var(--main-color);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 41px rgb(14 55 54/14%);
  padding: 1rem;
  transition: 0.2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 2rem;
  vertical-align: middle;
}

.logo h1 {
  color: var(--third-color);
  font-weight: 400;
  font-size: 2rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: right;
  line-height: 100px;
}

.container .btn-menu label {
  color: var(--third-color);
  font-size: 25px;
  cursor: pointer;
}

.container {
  float: right;
  line-height: 100px;
  margin-left: auto;
}

.container a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: var(--third-color);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container a:hover {
  border-bottom: 2px solid var(--third-color);
  padding-bottom: 5px;
}

#btn-menu {
  display: none;
  cursor: pointer;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

.container-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 45px;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  background: var(--main-color);
  height: 100vh;
  position: fixed;
  transition: all 0.5s ease;
  transform: translateX(100%);
  right: 0;
}

.cont-menu nav {
  transform: translateY(15%);
}

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 2rem;
  color: var(--third-color);
  border-left: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

.cont-menu nav a:hover {
  border-left: 5px solid var(--third-color);
  background: #1f1f1f;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: var(--second-color);
  cursor: pointer;
  font-size: 18px;
}

/* Estilo da Home Page */

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 0;
  left: 0;
  background: url(https://images.unsplash.com/photo-1543674892-7d64d45df18b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=730&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.inicio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.inicio-text {
  flex: 1 1 17rem;
  backdrop-filter: blur(3px);
}

.inicio-text span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--third-color);
}

.inicio-text h1 {
  font-size: 4.2rem;
  color: var(--third-color);
  font-weight: bolder;
}

.inicio-text h2 {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--third-color);
  text-transform: uppercase;
  margin: 0.5rem 0 1.4rem;
}

.btn,
.add {
  padding: 7px 16px;
  border: 2px solid var(--third-color);
  border-radius: 40px;
  color: var(--main-color);
  font-weight: 500;
  background: var(--third-color);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.btn:hover {
  color: var(--third-color);
  background: var(--main-color);
}

.add:hover {
  color: var(--third-color);
  background-color: var(--main-color);
}

.btn:active {
  transform: translate(10px, 10px);
  box-shadow: 0px 15px 20px #ffff;
  transition: all 0.3s ease 0s;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
  padding: 1rem;
  text-align: center;
}

.link {
  margin: 1rem 0 1rem;
}

.links a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--third-color);
  padding: 1rem;
  margin-right: 1rem;
}

.link a:hover {
  color: var(--third-color);
}

.footer p {
  text-align: center;
}

.copy {
  color: var(--third-color);
  margin-top: 1rem;
}

/* Estilo da área MECD - Main */

.iniciomain {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: var(--second-color);
}

.PDFs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: start;
  align-items: center;
  margin: 2rem 4rem;
  margin-top: 15vh;
  background-color: var(--second-color);
  padding: 1rem;
}

.PDFs,
.PDFsdois label {
  font-weight: bold;
  color: var(--third-color);
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.PDFs select {
  width: 50rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--main-color);
  border-radius: 0.35rem;
  outline: none;
  background-color: var(--third-color);
}

.col1,
.col2 {
  max-width: 33%;
  float: left;
}

.resetbtn {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 1rem;
}
.resetbtn:hover {
  background-color: #3d5a70;
}

#lista-pdfs {
  background-color: var(--second-color);
  height: 11rem;
}

#lista {
  display: block;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  width: 50rem;
  height: 100px;
  background-color: var(--second-color);
  color: var(--third-color);
}

#alterar-pdf {
  width: 100%;
  height: 1000px;
  background-color: var(--second-color);
}

/* Estilo da área de ADM */

.envio {
  background-color: var(--third-color);
  padding: 20px;
  border-radius: 10px;
}

.btn-adm {
  background-color: var(--acept);
  color: var(--third-color);
  padding: 10px;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-adm:hover {
  background-color: var(--acept-hover);
}

.edit {
  display: inline-block;
  padding: 10px;
  height: 3rem;
  width: 10rem;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.edit:hover {
  background-color: #3d5a70;
}

.editum {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.editum:hover {
  background-color: #3d5a70;
}

.inputdois {
  padding: 7px 16px;
  border: 2px solid var(--main-color);
  border-radius: 40px;
  color: var(--second-color);
  font-weight: 500;
  background: var(--third-color);
  transition: all 0.3s ease 0s;
}

.inputdois:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 15px 20px var(--second-color);
}

.btn-admm {
  background-color: var(--acept);
  color: var(--third-color);
  padding: 8px;
  width: 8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-admm:hover {
  background-color: var(--acept-hover);
}

.btn-adm-envio {
  background-color: var(--main-color);
  color: var(--third-color);
  padding: 6px;
  width: 7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid var(--main-color);
}
.btn-adm-envio:hover {
  background-color: var(--third-color);
  color: var(--main-color);
}

.removedois {
  display: inline-block;
  padding: 8px;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.removedois:hover {
  background-color: #ff000032;
}
.deletebutton {
  display: inline-block;
  padding: 8px;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.deletebutton:hover {
  background-color: #ff000032;
}
.remove {
  display: inline-block;
  padding: 8px;
  height: 3rem;
  width: 10rem;
  background-color: red;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.remove:hover {
  background-color: #ff000032;
}
.close:hover {
  color: #ff000032;
}

/* Modais??? */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 800px;
  border-radius: 2%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modalEdit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentEdit {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  height: 800px;
  border-radius: 2%;
}

/* Estilo de elementos */

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  color: white;
  border-color: var(--main-color);
  font-size: 1.4rem;
}

section {
  padding: 50px 5%;
  overflow-x: hidden;
}

img {
  width: 100%;
}

label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="file"] {
  border: none;
}

table {
  border-collapse: collapse;
  background-color: var(--third-color);
  width: 100%;
  margin-top: 4rem;
  border-radius: 1rem;
}

th,
td {
  text-align: left;
  padding: 1.5rem;
  border: 1px solid var(--main-color);
}

.section {
  flex: 1;
}

::placeholder {
  color: var(--main-color);
  text-align: center;
}

/* Estilo dos Fluxogramas */

.PDFsdois select {
  width: 20rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  border: 1px solid var(--main-color);
  border-radius: 0.35rem;
  outline: none;
  background-color: var(--third-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}
.gallery-item {
  margin: 10px;
}
.gallery-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.fluxogramassec {
  background-color: var(--second-color);
}

.btn-fluxo {
  display: inline-block;
  padding: 8px;
  background-color: #26a9b9;
  color: var(--third-color);
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-top: 4rem;
  margin-left: 19rem;
}

.btn-fluxo:hover {
  background-color: #3d5a70;
}

.fluxotitle {
  color: var(--third-color);
}

/* Media Querys */

@media screen and (max-width: 600px) {
  .inicio-text {
    flex: 1 1 100%;
  }
  .inicio-text h1 {
    font-size: 2.5rem;
  }
  .inicio-text h2 {
    font-size: 1.5rem;
  }
  .container .menu {
    display: none;
  }
  .container .btn-menu,
  .logo {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .container .btn-menu,
  .logo {
    display: block;
    line-height: normal;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .container .menu {
    position: absolute;
    top: 100px;
    right: -100%;
    width: 100%;
    display: block;
    background-color: var(--main-color);
    transition: 0.2s;
    padding: 1rem;
  }
  .container .menu a {
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
    margin-right: 0;
    text-align: center;
    border-bottom: none;
    color: var(--third-color);
  }
  .container .menu a:hover {
    background-color: var(--second-color);
  }
  .container .menu.active {
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .inicio-text h1 {
    font-size: 3rem;
  }
  .inicio-text h2 {
    font-size: 1.6rem;
  }
  .container .menu a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .PDFs {
    flex-wrap: wrap;
  }

  .PDFs .col1 .col2 {
    flex-basis: 100%;
  }
}
